<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel-body">
                <button class="btn btn-success pull-right" (click)="createRule()">Crear reigla</button>
                <a class="btn btn-primary btn-margin-right pull-right" routerLink="/inferenciador">Inferenciador</a>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">Tabla de reiglas</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Identificador</th>
                            <th>Nombre</th>
                            <th>Condicion</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of listData; let i = index; trackBy: ">
                            <td>{{i + 1}}</td>
                            <td>{{item._id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.condition}}</td>
                            <td> <button class="btn btn-info" (click)="editRule(item._id)">Modificar</button></td>
                            <td> <button class="btn btn-danger" (click)="deleteItem(item._id)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
