<div>

    <div class="container">
        <div class="row">
            <div id="jsoneditor" class="col-xs-12 col-sm-10 col-sm-offset-1 ">
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 container-top">
                <button class="btn btn-success pull-left" (click)="loadExample()">Cargar ejemplo 1</button>
                <button class="btn btn-success pull-left btn-margin-left" (click)="loadExample2()">Cargar ejemplo 2</button>
                <button class="btn btn-success pull-right" (click)="saveInfo()">{{titleButton}}</button>
                <a class="btn btn-primary btn-margin-right pull-right" routerLink="/">Listar reiglas</a>
            </div>
            <div *ngIf="messageService != ''" class="col-xs-12 col-sm-10 col-sm-offset-1 container-top">
                <div class="alert alert-success" role="alert">{{messageService}}</div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="modalMessage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title title-message"> Upps!! </h3>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{messageModal}}</p>
                        </div>

                        <div class="col-xs-6">
                            <button class="btn btn-primary" (click)="loadExample()">Ver ejemplo</button>
                            <button class="btn btn-primary btn-margin-left" (click)="loadExample2()">Ver ejemplo2 </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
