<div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <h1>Hecho</h1>
            </div>
            <div id="jsoneditor" class="col-xs-12 col-sm-6"> </div>
            
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary ">
                    <div class="panel-heading">Reiglas</div>
                    <div class="panel-body panel-json ">
                          <div *ngFor="let item of listData; let i = index; trackBy: ">
                            <p>{{i + 1}}. {{item.condition}}</p>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 container-top">
                <button class="btn btn-success pull-right" (click)="validate()">Realizar hecho</button>
            </div>
            <div *ngIf="messageService != ''" class="col-xs-12 col-sm-10 col-sm-offset-1 container-top">
                <div class="alert alert-success" role="alert">{{messageService}}</div>
            </div>
        </div>
    </div>
</div>
