/* You can add global styles to this file, and also import other style files */

#jsoneditor {
    height: 450px;
}

.panel-json {
    height: 408px;
    overflow-y: scroll
}

.btn-margin-right {
    margin-right: 10px;
}

.btn-margin-left {
    margin-left: 10px;
}

.container-top {
    margin-top: 15px;
}

.title-message {
    color: #811515;
}

